:root{
  cursor: grab;
}

#app {
  margin: 0 auto;
  text-align: center;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(40,70,72);
}

h1{
  color: rgb(234, 228, 228);
  font-size: 9em;
  padding: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h3 {
  font-size: 12pt;
  color: rgb(51, 50, 50);
}

h4 {
  font-size: 9pt;
  color: rgb(51, 50, 50);
}

button {
  background-color: rgba(224,229,231,255);
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 5pt;
  font-size: 12pt;
  transition: border-color 0.25s;
  max-width: 70pt;
  max-height: 20pt;
  align-self: center;
  text-align: center;
  cursor: grab;
}

button:hover {
  background-color: aquamarine;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 0;
}
#signCard {
  background: rgb(144,150,145);
  max-width: 250pt;
  max-height: 500pt;
  padding: 15pt;
  margin: 20pt;
  box-shadow: 5pt 5pt 10pt rgb(27, 36, 34);

}

#signCard h2 {
  font-size: 28pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#imgContainer{
  width: 200pt;
  height: 200pt;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#imgContainer img {
  min-width: 100%;
  min-height: 100%;
  

}

li {
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2pt;
}

input[name="image"], [name="name"]{
  width: 170pt;
  align-self: center;
  margin: 1pt;
  background-color: whitesmoke;
  margin: 2pt;
  padding: 2pt;
}

textarea{
  width: 170pt;
  height: 40pt;
  background-color: whitesmoke;
  align-self: center;
  word-wrap: break-word;
  word-break: break-all;
}

#save-cancel-buttons {
  margin: 5pt;
}

#delete-edit-buttons {
  display: inline-flex;
}

#delete-edit-buttons button {
  margin: 4pt;
}

#deleteButton button{
  background-color: rgb(138, 27, 27);
  color: whitesmoke;
}

#deleteButton button:hover{
  background-color: rgb(247, 73, 73);
  color: rgb(23, 20, 20);
}

#createForm input[type=submit] {
  background-color: rgba(224,229,231,255);
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 5pt;
  font-size: 12pt;
  transition: border-color 0.25s;
  max-width: 70pt;
  max-height: 20pt;
  align-self: center;
  text-align: center;
  cursor: grab;
}

#createForm input[type=submit]:hover {
  background-color: aquamarine;
}

#createForm input {
  align-self: center;
  width: 300pt;
}
#createForm textarea {
  width: 300pt;
  height: 50pt;
}

#mainButton button{
  background-color: rgba(224,229,231,255);
  border-radius: 3px;
  font-size: 12pt;
  transition: border-color 0.25s;
  min-width: 75pt;
  min-height: 40pt;
  /* align-self: center;
  text-align: center; */
  cursor: grab;
  margin-bottom: 20pt;
}

#mainButton button:hover {
  background-color: rosybrown;
}